{%extends 'index.html' %}{%block content%}

<br>
<br>
<br>
<h1 style="margin-left: 560px;margin-top: 100px;">
    Login
</h1>
{% if error %} {{error}}
<br>
<br> {% endif %}
<form method="POST" action="{% url 'login' %}">
    {%csrf_token%}
    <h6 style="margin-left: 550px;"> Username: </h6>
    <input type="text" name="username" style="margin-left: 550px;">
    <h6 style="margin-left: 550px;">Password:</h6>
    <input type="password" name="password" style="margin-left: 550px;">
    <br>
    <br>
    <input type="submit" name="submit" id="submit" class="form-submit submit btn btn-primary" value="Login" style="margin-left: 570px;" />
</form>
<!-- .footer-widgets -->
</footer>
<br>
<br>
<br>
<br>
<br>

<!-- .site-footer -->


{%endblock%}