{%extends 'index.html' %}{%block content%}
<!-- .nav-bar -->

<br>
<br>
<br>
<h1 style="margin-left: 550px;margin-top: 100px;">
    Sign Up
</h1>
{% if error %} {{error}}
<br>
<br> {% endif %}
<form method="POST" action="{% url 'signup' %}">
    {%csrf_token%}
    <h6 style="margin-left: 550px;"> Username: </h6>
    <input type="text" name="username" style="margin-left: 550px;">
    <h6 style="margin-left: 550px;">Password:</h6>
    <input type="password" name="password1" style="margin-left: 550px;">
    <h6 style="margin-left: 550px;"> Confirm Password:</h6>
    <input type="password" name="password2" style="margin-left: 550px;">
    <br>
    <br>
    <select class="select-login-choice" style="margin-left: 550px;" name="type1">
                <option value="value1">Select Signup Option</option>
                <option value="Patient">Patient</option>
                <option value="Doctor">Doctor</option>
            </select>
    <br>
    <br>

    <input type="submit" name="submit" id="submit" class="form-submit submit btn btn-primary" value="Sign up" style="margin-left: 570px;" />
</form>
<!-- .footer-widgets -->
</footer>
<!-- .site-footer -->
<br>
<br>
<br>
<br>
<br> {%endblock%}